/target
*.class
*.log
.DS_Store

# IntelliJ
.idea/
*.iml

# Editor
*~
.classpath
.project
.settings

# Application specific
*.deb
*.dmg
*.exe
dependency-reduced-pom.xml
packages
slimbox.log*
tmp
*.zip
Slimbox.app
